:root {
    --shade1: #fcfcfc;
    --shade2: #0fc9e7;
    --shade3: #3186b2; 
    --shade4: #4756ca; 
}

::selection {
    color: var(--shade1);
    background-color: var(--shade4);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body { overflow-x: hidden; }

#title{
    font-family: 'Permanent Marker', cursive;
    text-shadow: 5px 5px 7px var(--shade3);
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header{
    background-color: var(--shade2);
    color: var(--shade1);
    position:sticky;
    top: 0;
    left:0;
}

header > .container{
    padding: 16px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
}

header ul{
    list-style: none;
}

header li{
    display: inline;
    padding-left: 16px;
}

header ul li a{
    list-style: none;
    color: var(--shade1);
    font-size: 20px;
    font-weight: bold;
    text-shadow: 3px 3px 5px var(--shade3);
}

header ul li a:hover{
    color: var(--shade3);
    transition: 0.5s;
}

section{
    background-color: var(--shade1);
    margin-top: 32px;
}

section h2{
    color:var(--shade2);
    text-shadow: .5px .5px 1.5px var(--shade3);
    margin-bottom: 30px;
    border-bottom: 3px solid var(--shade2);
    padding-bottom: 8px;
    font-weight: bold;
}

.container img{
    width: 430px;
    height: auto;
    padding-right: 40px;
}

#about > .container{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.imagegrid{
    margin-bottom: 40px;
}

#products .imagegrid {
	max-width: 1100px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr; /* fractions */
	grid-gap: 30px;
}

#products .imagegrid{
    text-align: center;
}

#products .imagegrid img {
	width: 100%;
    padding: 0 20px;
}

.add{
    width: 100%;
    background-color: var(--shade2);
    color: var(--shade1);
    text-shadow: .5px .5px 1.5px var(--shade3);
    font-weight: bold;
    font-style: italic;
    padding: 8px;
    font-size: 17px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
}

.add:hover{
    font-style: normal;
    background-color: var(--shade3);
    transition: 0.5s;
}
#products .imagegrid h3{
    margin-top: 16px;
    margin-bottom: 8px;
}

footer{
    background-color: var(--shade2);
    padding:15px;
    color:var(--shade1);
}

.desc{
    color:gray;
    text-align: left;
    margin-bottom: 8px;
}

@media screen and (max-width: 767px) {
    .container{
        max-width: 90%;
    }
    
    header{
        position:relative;
    }
    #about{
        margin-right: 0;
        padding-right: 0;
    }
    .container img{
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 25px;
        width: 360px;
        height: auto;
    }

    .text{
        padding: 0;
    }
    
    #about > .container{
        display: block;
        padding-left:0;
        justify-content:center;
    }

    #products .imagegrid {
        display: block;
    }

    #products .imagegrid h3{
        margin-top: 16px;
        margin-bottom: 8px;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    header{
        position:relative;
    }

    .container{
        max-width: 90%;
    }

    #about > .container{
        display: block;
        padding-left:0;
        justify-content:center;
    }

    #imgMain{
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 25px;
        width: 750px;
        height: auto;
    }

    #products .imagegrid {
        grid-template-columns: repeat(2, 49%); /* fractions */
    }

}
